<% title "Section: #{@section.name} | #{@page.category} > #{@page.name}" %>

<div id="main" class="colored">

<h2>
  
  <%= @page.title %>
</h2>

<p>

  <%= @page.body %>
</p>

<h2>Total Subpages <%= @page.subpages.count %></h2>
<ul class="backend_list">
<% @page.subpages.each do |s| %>
<li><%= s.name %> - <%= link_to "show", admin_page_subpage_path(@page, s.id) %> - <%= link_to "edit", edit_admin_page_subpage_path(@page, s.id) %> - <%= link_to "delete",  admin_page_subpage_path(@page, s.id), :confirm => 'Are you sure?', :method => :delete %></li>
<% end %>
</ul>
<h2>Total Galleries <%= @page.galleries.count %></h2>

<% @page.galleries.each do |g| %>
<h2><%= g.title %> -  <%= link_to "show", admin_section_page_gallery_path(@page.section, @page,g.id) %> - <%= link_to "delete", admin_section_page_gallery_path(@page.section, @page,g.id), :confirm => 'Are you sure?', :method => :delete %></h2>
<ul class="backend_list">
	<% g.uploads.each do |u| %>
		<li><%= image_tag u.photo_url(:thumb_small).to_s %>  <%= link_to "delete", admin_section_page_gallery_upload_path(@page.section, @page,g.id,u.id), :confirm => 'Are you sure?', :method => :delete %></li>
	<% end%>
</ul>
<% end %>	
	
</div>

<% content_for(:left_column) do %>

<ul>
	<li class="level1">
	<%= link_to 'New subpage', new_admin_page_subpage_path(@page)  %>
	</li>
	<li class="level1">
	<%= link_to 'New gallery', new_admin_section_page_gallery_path(@section,@page)  %>
	</li>
	<li class="level1">
	<%= link_to 'Edit', edit_admin_section_page_path(@section,@page)  %>
	</li>
	<li class="level1">
	<%= link_to 'Back', admin_section_pages_path(@section)  %>
	</li>
</ul>

<% end %>