<h2>Property Links</h2>
<ul>
	<li class="level1"><%= link_to "Property","#" %></li>
	<li class="level1"><%= link_to "Buy / Rent a Property","#" %></li>
	<li class="level1"><%= link_to "Sell your Property","#" %></li>
	<li class="level1"><%= link_to "Golden Mile Services","#" %></li>
	<li class="level1"><%= link_to "Golden Mile Group","#" %></li>
	<li class="level1"><%= link_to "Property Blog","#" %></li>
</ul>
<h2>Real Estate Info</h2>
<ul>
	<li class="level1"><%= link_to "Info for Buyers","#" %></li>
	<li class="level1"><%= link_to "Info for Sellers","#" %></li>
	<li class="level1"><%= link_to "Legal Info","#" %></li>
	<li class="level1"><%= link_to "Financial Advice","#" %></li>
</ul>
<h2>My GoldenMile</h2>
<ul>
	<li class="level1"><%= link_to "Account","#" %></li>
	<li class="level1"><%= link_to "Saved properties","#" %></li>
	<li class="level1"><%= link_to "Alerts / Subscriptions","#" %></li>
	<li class="level1"><%= link_to "Recent Properties","#" %></li>
</ul>
