<div class="rightbox first">
	<h2>Follow Us</h2>
	<ul>
		<li><%= image_tag "system/social/facebook.png" %><p> Twitter</p></li>
		<li><%= image_tag "system/social/twitter.png" %> <p>Facebook</p></li>
	</ul>
</div>
<div class="button">
<%= link_to "<strong>about</strong><br />golden mile".html_safe,"#" %>
</div>
<div class="rightbox">
	<div id="newsletter"></div>
	<form>
		<input type="email" name="email" /><br />
		<input type="submit" name="submit" value="Sign Up" />

	</form>
</div>
<div class="button">
<%= link_to "become a <br/><strong>partner</strong>".html_safe,"#" %>
</div>
<div class="button">
<%= link_to "<strong>SELL/RENT</strong><br/>your property".html_safe,"#" %>
</div>
<div class="tools">
<p>Property<br /> <strong>Tools</strong></p>
<ul>
	<li><%= link_to "<strong>Home Value</strong> Calculator".html_safe,"#" %></li>	
	<li><%= link_to "<strong>Mortgage</strong> Calculator".html_safe,"#" %></li>
</ul>
</div>
<div class="button">
<%= link_to "find a <br/><strong>mortgage</strong>".html_safe,"#" %>
</div>