<% title "Properties#index" %>
<div id="main" class="colored">
	<h2>Property Search</h2>

	<%= image_tag "system/static/search_property.png", :id => "static_search_property" %>
	<h2>Featured Properties</h2>
	<ul id="featured_properties" class="properties">
		<li>
			<%= image_tag "system/static/featured_property_image.png" %>
			<h5>400,000 €</h5>
			<p><i>7 bedrooms, 4 bathrooms</i></p>
			<p class="address"> 	12 Melrose Place<br>
				Marbella, Costa del Sol, Spain<br>
				VT-0086-13</p>
			<p><%= link_to "view property", property_path(30), :class=>"button" %><%= link_to "contact us", "#", :class=>"button" %></p>
		</li>
	</ul>
</div>
<div id="tricolumn">
	<ul>
		<li>
			<h3><strong>Buy</strong><br/> Property</h3>                                                                                                                                                                                                                                                                 
			<p>Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
			<p><%= link_to "<strong>buy</strong> property".html_safe,"#" %></p>
		</li>                                                                                                                                                                                                                                                                                                         
		<li class="center">                                                                                                                                                                                                                                                                                           
			<h3><strong>Rent</strong><br/> Property</h3>                                                                                                                                                                                                                                                                
			<p>Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
					<p><%= link_to "<strong>rent</strong> property".html_safe,"#" %></p>
		</li>                                                                                                                                                                                                                                                                                                         
		<li>                                                                                                                                                                                                                                                                                                          
			<h3><strong>Sell</strong><br/> Property</h3>                                                                                                                                                                                                                                                                
			<p>Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
			<p><%= link_to "<strong>sell</strong> property".html_safe,"#" %></p>
		</li>
	</ul>
</div>
<div id="recent" class="colored">
	<h2>Popular Searches</h2>
	<section id="property_types" class="left">
		<h4>Property Types</h4>
		<p>Villas For Sale<br/>
		Apartments For Sale<br/>
		New Builds For Sale<br/>
		Duplexes For Sale</p>
	</section>
	<section id="property_locations">
		<h4>Property Locations</h4>
		<p>Villas For Sale<br/>
		Apartments For Sale<br/>
		New Builds For Sale<br/>
		Duplexes For Sale</p>
	</section>
</div>
<% content_for(:left_column) do %>
<%= render :partial => "left" %>
<% end %>
<% content_for(:right_column) do %>
<%= render :partial => "right" %>
<% end %>


<% content_for(:script) do %>
<script>
$(document).ready(function(){
	$("#accordion").accordion();
});
</script>
<% end %>