
<% title "Sign in" %>
<div id="main" class="colored">
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<%= f.input :email %>
	<%= f.input :password %>

  <% if devise_mapping.rememberable? -%>
	<%= f.input :remember_me,:as => :boolean %>    
  <% end -%>

  <p><%= f.submit "Sign in" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>