<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<!--  Mobile viewport optimized: j.mp/bplateviewport -->
		<meta name="viewport" content="width=device-width, initial-scale=0.3">
		<meta name="author" content="Designed and developed by Feature Rich Ltd" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>


    <%= csrf_meta_tag %>
		
 		<%= javascript_include_tag "modernizr-1.6.min" %>
 		<%= include_stylesheets :common %>

    <%= yield(:head) %>
  </head>
  <body>
    <div id="wrapper">

			<header>
				<%= image_tag "logo.png", :id=>"logo" %>				
				<nav>					
					<%= render_navigation(:level => 1) unless admin_signed_in? %>
					<%= render_navigation(:level => 1, :context => :admin) if admin_signed_in? %>					
				</nav>
			</header>
			<% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
			<section id="main">
				<%= content_tag :h1, yield(:title) if show_title? %>
				<section id="left-column" class="box">
					<%= yield(:left_column) %>
				</section>
				<section id="center" class="box">
					      <%= yield %> 
				</section>
				<section id="right-column" class="box">
					<%= yield(:right_column) %>
				</section>
				

			</section>

    </div>
		<footer>
			<div class="holder">
				<ul>
					<li><h6>Buy Property</h6></li>
					<li>Villas For Sale</li>
					<li>Apartments For Sale</li>
					<li>New Builds For Sale</li>
					<li>Duplexes For Sale</li>					
				</ul>	
				<ul>
					<li><h6>Rent Property</h6></li>
					<li>Villas For Rent</li>
					<li>Apartments  For Rent</li>
					<li>New Builds  For Rent</li>
					<li>Duplexes  For Rent</li>					
				</ul>
				<ul>
					<li><h6>Sell Property</h6></li>
					<li>Sell commercial property</li>
					<li>Sell residential property</li>
					<li>Legal Info</li>			
				</ul>
				<ul>
					<li><h6>Golden Mile Services</h6></li>
					<li>Property Management Property</li>
					<li>Finance Building a Property</li>
					<li>Book With Golden Mile</li>			
				</ul>
				<ul>
					<li><h6>Golden Mile Group</h6></li>
					<li> Corporate Identity </li>
					<li>	Customer Service</li>
					<li>Golden Mile Partners</li>
					<li>Become a Partner</li>	
					<li>Work For Golden Mile</li>		
				</ul>
				<ul>
					<li><h6>	Property Blog</h6></li>
					<li>Buying a Home </li>
					<li>Selling a Home</li>
					<li>Home Finance</li>
				</ul>
			</div>
		</footer>

			<script src="http://www.google.com/jsapi" type="text/javascript"></script>
			<script type="text/javascript">
			 google.load("jquery", "1.5");
			 google.load("jqueryui", "1.8.6");

			</script>

			<%= include_javascripts :common %>
			<%= include_tiny_mce_if_needed %>

	    <%= yield(:script) %>
	  </body>
  </body>
</html>
